body {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
section {
  height: 100vh;
  background-color: white;
  scroll-snap-align: start;
}
.hero {
  background-color: #1c1d25;
  height: 100vh;
  color: white;
  font-size: 40px;
}
footer {
  /* height: 500px; */
  padding: 80px;
  background-color: #1c1d25;
  color: #fff;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}
li {
  text-decoration: none;
}
h1,
p {
  margin: 0;
}
.hero-text {
  margin-left: 40px;
  margin-bottom: 200px;
}
.button {
  width: 200px;
  height: 50px;
  background-color: teal;
  border-radius: 30px;
  font-size: 30px;
  text-align: center;
  font-weight: 300;
  padding-top: 5px;
}
.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.button:hover {
  background-color: #1c1d25;
  border: teal solid 2px;
}
.socials {
  padding-bottom: 200px;
}
.social {
  display: block;
  margin: 20px;
}

.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background-color: #fff;
}

h2 {
  font-size: 50px;
}
.headshot {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.headshot-container {
  display: flex;
  align-items: center;
}
.project-card {
  width: 300px;
  /* height: 500px; */
  /* color: #fff; */
  border-radius: 16px;
  /* background-color: #1c1d25; */
  box-shadow: 5px 5px 20px rgb(212, 210, 210);
}
.project-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.project-section {
  /* background-color: #1c1d25; */
  display: flex;
  flex-direction: column;
  text-align: center;
  /* padding: 50px; */
  margin: 10px;
}
.subtext {
  padding: 10px;
  font-weight: 300;
  font-size: 15px;
}
.project-image {
  /* padding: 8px; */
  margin: 8px;
  width: 250px;
  height: 150px;
  margin-top: 20px;
  border-radius: 8px;
}
hr {
  margin: 0px 20px 0px 20px;
}
.project-link {
  background-color: teal;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 8px;
  margin: 8px;
  border-radius: 16px;
}
a {
  text-decoration: none;
  color: white;
}
.hamburger {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: #fff;
    font-size: 30px;
  }
  ul {
    display: none;
  }
}

.container {
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  height: 100vh;
}
